In [ ]:
#Hello! This is the beginning of Erik's and Rene's project.

In [ ]:
#Project desc, something about us

In [ ]:
#Dataset links

In [3]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [4]:
#Reading in the data
oscars = pd.read_csv("the_oscar_award.csv")
globes_start = pd.read_csv("golden_globe_awards.csv")
#Let's see if the reading works!
oscars.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [5]:
#As the Oscar awards started before Golden Globes, we have to clear out unneccessary data(years before 1944).
oscars_removed = oscars[oscars['year_ceremony'] < 1944].index
oscars_cleared = oscars.drop(oscars_removed , inplace=True)
#Let's check if I removed the unneccessary data!
oscars.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
1456,1943,1944,16,ACTOR,Humphrey Bogart,Casablanca,False
1457,1943,1944,16,ACTOR,Gary Cooper,For Whom the Bell Tolls,False
1458,1943,1944,16,ACTOR,Paul Lukas,Watch on the Rhine,True
1459,1943,1944,16,ACTOR,Walter Pidgeon,Madame Curie,False
1460,1943,1944,16,ACTOR,Mickey Rooney,The Human Comedy,False

In [12]:
#We want to know all the different categories that are awarded at both ceremonies, then remove the awards that aren't at both
#awards and then change award names, so we could easily add the two datasets together.
#It seems easier for us to take Oscar's category names, because they are shorter and clearer.
#As Oscar's dont give out awards to TV shows and Golden Globes do, we can safely remove all the rows containing
#the word "Television".
#We only want to leave in categories that have been at both awards from the start, which leaves us with:
#Actor, actress, supporting actor, supporting actress,Director, Picture.
unneccessary_categories = ['Television','Henrietta','Samuel','Hollywood','Juvenile','International','Cinematography','New','Foreign','Animated','Score','Screenplay','Song','Color','Documentary']
globes = globes_start[~globes_start.category.str.contains('|'.join(unneccessary_categories))]
#We can also filter out all the rows where column "winner" value is false, because we just want to predict winners.
globes.drop(globes[globes['win'] == False].index, inplace=True)
oscars.drop(oscars[oscars['winner'] == False].index, inplace=True)
#We only want to leave in categories that have been at both awards from the start, which leaves us with:
#Actor, actress, supporting actor, supporting actress,Director, Picture (Names on datasets may vary, but we will change them
#soon!)
globes['category'] = globes['category'].replace(['Picture - Musical','Picture - Comedy','Best Motion Picture - Drama','Best Motion Picture - Musical or Comedy','Picture'],'PICTURE')
#We will alter the globes dataset to be similar to the Oscars dataset. For example, we will change "Picture-Musical" and
#"Picture-Comedy" to just picture, because Oscars just give out one award for best picture. We will follow to do a similar
#thing with actor awards.
globes['category'] = globes['category'].replace(['Best Performance by an Actress in a Motion Picture - Drama','Actress In A Leading Role - Musical Or Comedy','Best Performance by an Actress in a Motion Picture - Musical or Comedy','Actress In A Leading Role'],'ACTRESS')
globes['category'] = globes['category'].replace(['Best Performance by an Actor in a Motion Picture - Drama','Best Performance by an Actor in a Motion Picture - Musical or Comedy','Actor In A Leading Role'],'ACTOR')
globes['category'] = globes['category'].replace(['Best Performance by an Actor in a Supporting Role in any Motion Picture'],'ACTOR IN A SUPPORTING ROLE')
globes['category'] = globes['category'].replace(['Best Performance by an Actress in a Supporting Role in any Motion Picture'],'ACTRESS IN A SUPPORTING ROLE')
globes['category'] = globes['category'].replace(['Best Director - Motion Picture'],'DIRECTOR')

print(globes["category"].unique())

['ACTRESS IN A SUPPORTING ROLE' 'ACTOR IN A SUPPORTING ROLE' 'DIRECTOR'
 'PICTURE' 'ACTRESS' 'ACTOR']

<ipython-input-12-f3c71ceec5e3>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Picture - Musical','Picture - Comedy','Best Motion Picture - Drama','Best Motion Picture - Musical or Comedy','Picture'],'PICTURE')
<ipython-input-12-f3c71ceec5e3>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Performance by an Actress in a Motion Picture - Drama','Actress In A Leading Role - Musical Or Comedy','Best Performance by an Actress in a Motion Picture - Musical or Comedy','Actress In A Leading Role'],'ACTRESS')
<ipython-input-12-f3c71ceec5e3>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Performance by an Actor in a Motion Picture - Drama','Best Performance by an Actor in a Motion Picture - Musical or Comedy','Actor In A Leading Role'],'ACTOR')
<ipython-input-12-f3c71ceec5e3>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Performance by an Actor in a Supporting Role in any Motion Picture'],'ACTOR IN A SUPPORTING ROLE')
<ipython-input-12-f3c71ceec5e3>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Performance by an Actress in a Supporting Role in any Motion Picture'],'ACTRESS IN A SUPPORTING ROLE')
<ipython-input-12-f3c71ceec5e3>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Director - Motion Picture'],'DIRECTOR')

In [18]:
#We will now repeat the same thing for the Oscars' file as well, removing unneccessary rows.

oscars_unneccessary = ['CINEMATOGRAPHY','DOCUMENTARY','MUSIC','COSTUME','WRITING','VISUAL','SHORT','EDIT','SOUND','SPECIAL','MAKEUP','ANIMATED','JEAN','ART','HONORARY','PRODUCTION','IRVING','FOREIGN','INTERNATIONAL','OUTSTANDING']
oscars = oscars[~oscars.category.str.contains('|'.join(oscars_unneccessary))]
oscars['category'] = oscars['category'].replace(['DIRECTING'],'DIRECTOR')
oscars['category'] = oscars['category'].replace(['BEST PICTURE'],'PICTURE')
oscars['category'] = oscars['category'].replace(['ACTRESS IN A LEADING ROLE'],'ACTRESS')
oscars['category'] = oscars['category'].replace(['ACTOR IN A LEADING ROLE'],'ACTOR')
oscars['category'] = oscars['category'].replace(['ACTOR IN A LEADING ROLE'],'ACTOR')
oscars['category'] = oscars['category'].replace(['BEST MOTION PICTURE'],'PICTURE')
print(oscars["category"].unique())

['ACTOR' 'ACTOR IN A SUPPORTING ROLE' 'ACTRESS'
 'ACTRESS IN A SUPPORTING ROLE' 'DIRECTOR' 'PICTURE']