In [1]:
#Hello! This is the beginning of Erik's and Rene's project.

In [2]:
#Project desc, something about us

In [3]:
#Dataset links

In [4]:
import matplotlib.pyplot as plt 
import numpy as np
import pandas as pd

In [5]:
#Reading in the data
oscars = pd.read_csv("the_oscar_award.csv")
globes_start = pd.read_csv("golden_globe_awards.csv")
#Let's see if the reading works!
oscars.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False

In [6]:
#As the Oscar awards started before Golden Globes, we have to clear out unneccessary data(years before 1944).
oscars_removed = oscars[oscars['year_ceremony'] < 1944].index
oscars_cleared = oscars.drop(oscars_removed , inplace=True)
#Let's check if I removed the unneccessary data!
oscars.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
1456,1943,1944,16,ACTOR,Humphrey Bogart,Casablanca,False
1457,1943,1944,16,ACTOR,Gary Cooper,For Whom the Bell Tolls,False
1458,1943,1944,16,ACTOR,Paul Lukas,Watch on the Rhine,True
1459,1943,1944,16,ACTOR,Walter Pidgeon,Madame Curie,False
1460,1943,1944,16,ACTOR,Mickey Rooney,The Human Comedy,False

In [7]:
#We want to know all the different categories that are awarded at both ceremonies, then remove the awards that aren't at both
#awards and then change award names, so we could easily add the two datasets together.
#It seems easier for us to take Oscar's category names, because they are shorter and clearer.
#As Oscar's dont give out awards to TV shows and Golden Globes do, we can safely remove all the rows containing
#the word "Television".
#We only want to leave in categories that have been at both awards from the start, which leaves us with:
#Actor, actress, supporting actor, supporting actress,Director, Picture.
unneccessary_categories = ['Television','Henrietta','Samuel','Hollywood','Juvenile','International','Cinematography','New','Foreign','Animated','Score','Screenplay','Song','Color','Documentary']
globes = globes_start[~globes_start.category.str.contains('|'.join(unneccessary_categories))]
#We can also filter out all the rows where column "winner" value is false, because we just want to predict winners.
globes.drop(globes[globes['win'] == False].index, inplace=True)
oscars.drop(oscars[oscars['winner'] == False].index, inplace=True)
#We only want to leave in categories that have been at both awards from the start, which leaves us with:
#Actor, actress, supporting actor, supporting actress,Director, Picture (Names on datasets may vary, but we will change them
#soon!)
globes['category'] = globes['category'].replace(['Picture - Musical','Picture - Comedy','Best Motion Picture - Drama','Best Motion Picture - Musical or Comedy','Picture'],'PICTURE')
#We will alter the globes dataset to be similar to the Oscars dataset. For example, we will change "Picture-Musical" and
#"Picture-Comedy" to just picture, because Oscars just give out one award for best picture. We will follow to do a similar
#thing with actor awards.
globes['category'] = globes['category'].replace(['Best Performance by an Actress in a Motion Picture - Drama','Actress In A Leading Role - Musical Or Comedy','Best Performance by an Actress in a Motion Picture - Musical or Comedy','Actress In A Leading Role'],'ACTRESS')
globes['category'] = globes['category'].replace(['Best Performance by an Actor in a Motion Picture - Drama','Best Performance by an Actor in a Motion Picture - Musical or Comedy','Actor In A Leading Role'],'ACTOR')
globes['category'] = globes['category'].replace(['Best Performance by an Actor in a Supporting Role in any Motion Picture'],'ACTOR IN A SUPPORTING ROLE')
globes['category'] = globes['category'].replace(['Best Performance by an Actress in a Supporting Role in any Motion Picture'],'ACTRESS IN A SUPPORTING ROLE')
globes['category'] = globes['category'].replace(['Best Director - Motion Picture'],'DIRECTOR')

print(globes["category"].unique())

['ACTRESS IN A SUPPORTING ROLE' 'ACTOR IN A SUPPORTING ROLE' 'DIRECTOR'
 'PICTURE' 'ACTRESS' 'ACTOR']

C:\Users\Erik\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-7-7995177ec1a6>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Picture - Musical','Picture - Comedy','Best Motion Picture - Drama','Best Motion Picture - Musical or Comedy','Picture'],'PICTURE')
<ipython-input-7-7995177ec1a6>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Performance by an Actress in a Motion Picture - Drama','Actress In A Leading Role - Musical Or Comedy','Best Performance by an Actress in a Motion Picture - Musical or Comedy','Actress In A Leading Role'],'ACTRESS')
<ipython-input-7-7995177ec1a6>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Performance by an Actor in a Motion Picture - Drama','Best Performance by an Actor in a Motion Picture - Musical or Comedy','Actor In A Leading Role'],'ACTOR')
<ipython-input-7-7995177ec1a6>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Performance by an Actor in a Supporting Role in any Motion Picture'],'ACTOR IN A SUPPORTING ROLE')
<ipython-input-7-7995177ec1a6>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Performance by an Actress in a Supporting Role in any Motion Picture'],'ACTRESS IN A SUPPORTING ROLE')
<ipython-input-7-7995177ec1a6>:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globes['category'] = globes['category'].replace(['Best Director - Motion Picture'],'DIRECTOR')

In [8]:
#We will now repeat the same thing for the Oscars' file as well, removing unneccessary rows.

oscars_unneccessary = ['CINEMATOGRAPHY','DOCUMENTARY','MUSIC','COSTUME','WRITING','VISUAL','SHORT','EDIT','SOUND','SPECIAL','MAKEUP','ANIMATED','JEAN','ART','HONORARY','PRODUCTION','IRVING','FOREIGN','INTERNATIONAL','OUTSTANDING']
oscars = oscars[~oscars.category.str.contains('|'.join(oscars_unneccessary))]
oscars['category'] = oscars['category'].replace(['DIRECTING'],'DIRECTOR')
oscars['category'] = oscars['category'].replace(['BEST PICTURE'],'PICTURE')
oscars['category'] = oscars['category'].replace(['ACTRESS IN A LEADING ROLE'],'ACTRESS')
oscars['category'] = oscars['category'].replace(['ACTOR IN A LEADING ROLE'],'ACTOR')
oscars['category'] = oscars['category'].replace(['ACTOR IN A LEADING ROLE'],'ACTOR')
oscars['category'] = oscars['category'].replace(['BEST MOTION PICTURE'],'PICTURE')
print(oscars["category"].unique())

['ACTOR' 'ACTOR IN A SUPPORTING ROLE' 'ACTRESS'
 'ACTRESS IN A SUPPORTING ROLE' 'DIRECTOR' 'PICTURE']

In [9]:
#We will compare the award ceremony results by category.
#Globes vs Oscars comparison: Actor

#We create a new set.
globesActorSet = {'Film year Globes': globes['year_film'], 'Award year Globes': globes['year_award'],
                  'Category': globes['category'], 'Name Globes': globes['nominee'], 'Film Globes': globes['film'],
                  'win Globes': globes['win']}
#Based on the newly created set, we create a new dataframe.
globesActor = pd.DataFrame(globesActorSet)
#In the new dataframe, we only use the rows, where the category is 'ACTOR'
globesActor = globesActor[globesActor['Category']=="ACTOR"]

#Here we do the same thing with the Oscars results

#We create a new set.
oscarsActorSet = {'Film year Oscars': oscars['year_film'], 'Award year Oscars': oscars['year_ceremony'],
                  'Category': oscars['category'], 'Name Oscars': oscars['name'], 'Film Oscars': oscars['film'],
                  'win Oscars': oscars['winner']}
#Based on the newly created set, we create a new dataframe.
oscarsActor = pd.DataFrame(oscarsActorSet)
#In the new dataframe, we only use the rows, where the category is 'ACTOR'
oscarsActor = oscarsActor[oscarsActor['Category']=="ACTOR"]
#Created copies of the datasets to not mess up any already made work, but now I'm too scared to change anything.
testdf1 = oscarsActor.copy()
testdf = globesActor.copy()
#testdf2 is a dataframe in which we merged the dataframe copies we made before
testdf2=testdf.merge(testdf1,left_on="Film year Globes",right_on="Film year Oscars")
#Here we made a new column 'Won both', in which it says 'Yes' if the actor has won both awards for this particular movie, or 'NaN' if he hasn't.
testdf.loc[(testdf2['Award year Globes'].values == testdf2['Award year Oscars'].values) & (testdf2['Name Globes'].values == testdf2['Name Oscars'].values) & (testdf2['Film Globes'].values == testdf2['Film Oscars'].values), 'Won both'] = 'Yes'

testdf.loc[testdf['Won both'] == 'Yes']

,Film year Globes,Award year Globes,Category,Name Globes,Film Globes,win Globes,Won both
18,1945,1946,ACTOR,Ray Milland,The Lost Weekend,True,Yes
38,1947,1948,ACTOR,Ronald Colman,A Double Life,True,Yes
176,1952,1953,ACTOR,Gary Cooper,High Noon,True,Yes
253,1954,1955,ACTOR,Marlon Brando,On the Waterfront,True,Yes
284,1955,1956,ACTOR,Ernest Borgnine,Marty,True,Yes
464,1958,1959,ACTOR,David Niven,Separate Tables,True,Yes
627,1960,1961,ACTOR,Burt Lancaster,Elmer Gantry,True,Yes
714,1961,1962,ACTOR,Maximilian Schell,Judgment at Nuremberg,True,Yes
925,1963,1964,ACTOR,Sidney Poitier,Lilies of the Field,True,Yes
1050,1964,1965,ACTOR,Rex Harrison,My Fair Lady,True,Yes
1131,1965,1966,ACTOR,Lee Marvin,Cat Ballou,True,Yes
1323,1967,1968,ACTOR,Rod Steiger,In the Heat of the Night,True,Yes
1527,1969,1970,ACTOR,John Wayne,True Grit,True,Yes
1646,1970,1971,ACTOR,George C. Scott,Patton,True,Yes
2433,1976,1977,ACTOR,Peter Finch,Network,True,Yes
2680,1978,1979,ACTOR,Jon Voight,Coming Home,True,Yes
2812,1979,1980,ACTOR,Dustin Hoffman,Kramer vs. Kramer,True,Yes
2941,1980,1981,ACTOR,Robert De Niro,Raging Bull,True,Yes
3066,1981,1982,ACTOR,Henry Fonda,On Golden Pond,True,Yes
3196,1982,1983,ACTOR,Ben Kingsley,Gandhi,True,Yes
3334,1983,1984,ACTOR,Robert Duvall,Tender Mercies,True,Yes
3459,1984,1985,ACTOR,F. Murray Abraham,Amadeus,True,Yes
3840,1987,1988,ACTOR,Michael Douglas,Wall Street,True,Yes
3970,1988,1989,ACTOR,Dustin Hoffman,Rain Man,True,Yes
4222,1990,1991,ACTOR,Jeremy Irons,Reversal of Fortune,True,Yes
4473,1992,1993,ACTOR,Al Pacino,Scent of a Woman,True,Yes
4599,1993,1994,ACTOR,Tom Hanks,Philadelphia,True,Yes
4721,1994,1995,ACTOR,Tom Hanks,Forrest Gump,True,Yes
4848,1995,1996,ACTOR,Nicolas Cage,Leaving Las Vegas,True,Yes
4972,1996,1997,ACTOR,Geoffrey Rush,Shine,True,Yes
5107,1997,1998,ACTOR,Jack Nicholson,As Good as It Gets,True,Yes
5865,2003,2004,ACTOR,Sean Penn,Mystic River,True,Yes
5999,2004,2005,ACTOR,Jamie Foxx,Ray,True,Yes
6111,2005,2006,ACTOR,Philip Seymour Hoffman,Capote,True,Yes
6364,2007,2008,ACTOR,Daniel Day-Lewis,There Will Be Blood,True,Yes
6616,2009,2010,ACTOR,Jeff Bridges,Crazy Heart,True,Yes
6742,2010,2011,ACTOR,Colin Firth,The King's Speech,True,Yes
6880,2011,2012,ACTOR,Jean Dujardin,The Artist,True,Yes
6996,2012,2013,ACTOR,Daniel Day-Lewis,Lincoln,True,Yes
7122,2013,2014,ACTOR,Matthew McConaughey,Dallas Buyers Club,True,Yes
7246,2014,2015,ACTOR,Eddie Redmayne,The Theory of Everything,True,Yes
7372,2015,2016,ACTOR,Leonardo DiCaprio,The Revenant,True,Yes
7499,2016,2017,ACTOR,Casey Affleck,Manchester by the Sea,True,Yes
7626,2017,2018,ACTOR,Gary Oldman,Darkest Hour,True,Yes
7752,2018,2019,ACTOR,Rami Malek,Bohemian Rhapsody,True,Yes
7879,2019,2020,ACTOR,Joaquin Phoenix,Joker,True,Yes

In [10]:
#We will compare the award ceremony results by category.
#Globes vs Oscars comparison: Actor in a supporting role

#We create a new set.
globesSupportingActorSet = {'Film year Globes': globes['year_film'], 'Award year Globes': globes['year_award'],
                  'Category': globes['category'], 'Name Globes': globes['nominee'], 'Film Globes': globes['film'],
                  'win Globes': globes['win']}
#Based on the newly created set, we create a new dataframe.
globesSupportingActor = pd.DataFrame(globesSupportingActorSet)
#In the new dataframe, we only use the rows, where the category is 'ACTOR IN A SUPPORTING ROLE'
globesSupportingActor = globesSupportingActor[globesSupportingActor['Category']=="ACTOR IN A SUPPORTING ROLE"]

#Here we do the same thing with the Oscars results

#We create a new set.
oscarsSupportingActorSet = {'Film year Oscars': oscars['year_film'], 'Award year Oscars': oscars['year_ceremony'],
                  'Category': oscars['category'], 'Name Oscars': oscars['name'], 'Film Oscars': oscars['film'],
                  'win Oscars': oscars['winner']}
#Based on the newly created set, we create a new dataframe.
oscarsSupportingActor = pd.DataFrame(oscarsSupportingActorSet)
#In the new dataframe, we only use the rows, where the category is 'ACTOR IN A SUPPORTING ROLE'
oscarsSupportingActor = oscarsSupportingActor[oscarsSupportingActor['Category']=="ACTOR IN A SUPPORTING ROLE"]
#Created copies of the datasets to not mess up any already made work, but now I'm too scared to change anything.
testdf1 = oscarsSupportingActor.copy()
testdf = globesSupportingActor.copy()
#testdf2 is a dataframe in which we merged the dataframe copies we made before
testdf2=testdf.merge(testdf1,left_on="Film year Globes",right_on="Film year Oscars")
#Here we made a new column 'Won both', in which it says 'Yes' if the actor has won both awards for this particular movie, or 'NaN' if he hasn't
testdf.loc[(testdf2['Award year Globes'].values == testdf2['Award year Oscars'].values) & (testdf2['Name Globes'].values == testdf2['Name Oscars'].values) & (testdf2['Film Globes'].values == testdf2['Film Oscars'].values), 'Won both'] = 'Yes'

testdf.loc[testdf['Won both'] == 'Yes']

,Film year Globes,Award year Globes,Category,Name Globes,Film Globes,win Globes,Won both
7,1944,1945,ACTOR IN A SUPPORTING ROLE,Barry Fitzgerald,Going My Way,True,Yes
41,1948,1949,ACTOR IN A SUPPORTING ROLE,Walter Huston,The Treasure of the Sierra Madre,True,Yes
227,1953,1954,ACTOR IN A SUPPORTING ROLE,Frank Sinatra,From Here to Eternity,True,Yes
416,1957,1958,ACTOR IN A SUPPORTING ROLE,Red Buttons,Sayonara,True,Yes
729,1961,1962,ACTOR IN A SUPPORTING ROLE,George Chakiris,West Side Story,True,Yes
1542,1969,1970,ACTOR IN A SUPPORTING ROLE,Gig Young,"They Shoot Horses, Don't They?",True,Yes
1661,1970,1971,ACTOR IN A SUPPORTING ROLE,John Mills,Ryan's Daughter,True,Yes
1922,1972,1973,ACTOR IN A SUPPORTING ROLE,Joel Grey,Cabaret,True,Yes
2832,1979,1980,ACTOR IN A SUPPORTING ROLE,Melvyn Douglas,Being There,True,Yes
2961,1980,1981,ACTOR IN A SUPPORTING ROLE,Timothy Hutton,Ordinary People,True,Yes
3086,1981,1982,ACTOR IN A SUPPORTING ROLE,John Gielgud,Arthur,True,Yes
3355,1983,1984,ACTOR IN A SUPPORTING ROLE,Jack Nicholson,Terms of Endearment,True,Yes
4117,1989,1990,ACTOR IN A SUPPORTING ROLE,Denzel Washington,Glory,True,Yes
4367,1991,1992,ACTOR IN A SUPPORTING ROLE,Jack Palance,City Slickers,True,Yes
4493,1992,1993,ACTOR IN A SUPPORTING ROLE,Gene Hackman,Unforgiven,True,Yes
4741,1994,1995,ACTOR IN A SUPPORTING ROLE,Martin Landau,Ed Wood,True,Yes
5627,2001,2002,ACTOR IN A SUPPORTING ROLE,Jim Broadbent,Iris,True,Yes
5757,2002,2003,ACTOR IN A SUPPORTING ROLE,Chris Cooper,Adaptation,True,Yes
5885,2003,2004,ACTOR IN A SUPPORTING ROLE,Tim Robbins,Mystic River,True,Yes
6132,2005,2006,ACTOR IN A SUPPORTING ROLE,George Clooney,Syriana,True,Yes
6384,2007,2008,ACTOR IN A SUPPORTING ROLE,Javier Bardem,No Country for Old Men,True,Yes
6636,2009,2010,ACTOR IN A SUPPORTING ROLE,Christoph Waltz,Inglourious Basterds,True,Yes
6890,2011,2012,ACTOR IN A SUPPORTING ROLE,Christopher Plummer,Beginners,True,Yes
7016,2012,2013,ACTOR IN A SUPPORTING ROLE,Christoph Waltz,Django Unchained,True,Yes
7142,2013,2014,ACTOR IN A SUPPORTING ROLE,Jared Leto,Dallas Buyers Club,True,Yes
7266,2014,2015,ACTOR IN A SUPPORTING ROLE,J.K. Simmons,Whiplash,True,Yes
7772,2018,2019,ACTOR IN A SUPPORTING ROLE,Mahershala Ali,Green Book,True,Yes

In [69]:
#We will compare the award ceremony results by category.
#Globes vs Oscars comparison: Actress in a supporting role

#We create a new set.
globesActressSet = {'Film year Globes': globes['year_film'], 'Award year Globes': globes['year_award'],
                  'Category': globes['category'], 'Name Globes': globes['nominee'], 'Film Globes': globes['film'],
                  'win Globes': globes['win']}
#Based on the newly created set, we create a new dataframe.
globesActress = pd.DataFrame(globesActressSet)
#In the new dataframe, we only use the rows, where the category is 'ACTRESS'
globesActress = globesActress[globesActress['Category']=="ACTRESS"]

#Here we do the same thing with the Oscars results

#We create a new set.
oscarsActressSet = {'Film year Oscars': oscars['year_film'], 'Award year Oscars': oscars['year_ceremony'],
                  'Category': oscars['category'], 'Name Oscars': oscars['name'], 'Film Oscars': oscars['film'],
                  'win Oscars': oscars['winner']}
#Based on the newly created set, we create a new dataframe.
oscarsActress = pd.DataFrame(oscarsActressSet)
#In the new dataframe, we only use the rows, where the category is 'ACTRESS IN A SUPPORTING ROLE'
oscarsActress = oscarsActress[oscarsActress['Category']=="ACTRESS"]
#Created copies of the datasets to not mess up any already made work, but now I'm too scared to change anything.
testdf1 = oscarsActress.copy()#78 rows
testdf = globesActress.copy()#151 rows
#testdf2 is a dataframe in which we merged the dataframe copies we made before
testdf2=testdf.merge(testdf1,left_on="Film year Globes",right_on="Film year Oscars")#153 rows



#Here we dropped some rows, because they were duplicates in the original file
testdf2 = testdf2.drop(testdf2.index[44])
testdf2 = testdf2.drop(testdf2.index[46])
#Here we made a new column 'Won both', in which it says 'Yes' if the actor has won both awards for this particular movie, or 'NaN' if she hasn't
testdf.loc[(testdf2['Award year Globes'].values == testdf2['Award year Oscars'].values) & (testdf2['Name Globes'].values == testdf2['Name Oscars'].values) & (testdf2['Film Globes'].values == testdf2['Film Oscars'].values), 'Won both'] = 'Yes'
testdf.loc[testdf['Won both'] == 'Yes']

,Film year Globes,Award year Globes,Category,Name Globes,Film Globes,win Globes,Won both
10,1944,1945,ACTRESS,Ingrid Bergman,Gaslight,True,Yes
49,1948,1949,ACTRESS,Jane Wyman,Johnny Belinda,True,Yes
75,1949,1950,ACTRESS,Olivia de Havilland,The Heiress,True,Yes
115,1950,1951,ACTRESS,Judy Holliday,Born Yesterday,True,Yes
173,1952,1953,ACTRESS,Shirley Booth,"Come Back, Little Sheba",True,Yes
223,1953,1954,ACTRESS,Audrey Hepburn,Roman Holiday,True,Yes
1092,1964,1965,ACTRESS,Julie Andrews,Mary Poppins,True,Yes
1522,1969,1970,ACTRESS,Genevive Bujold,Anne of the Thousand Days,True,Yes
1765,1971,1972,ACTRESS,Jane Fonda,Klute,True,Yes
1907,1972,1973,ACTRESS,Liza Minnelli,Cabaret,True,Yes
2428,1976,1977,ACTRESS,Faye Dunaway,Network,True,Yes
2579,1977,1978,ACTRESS,Diane Keaton,Annie Hall,True,Yes
2675,1978,1979,ACTRESS,Jane Fonda,Coming Home,True,Yes
2807,1979,1980,ACTRESS,Sally Field,Norma Rae,True,Yes
2946,1980,1981,ACTRESS,Sissy Spacek,Coal Miner's Daughter,True,Yes
3191,1982,1983,ACTRESS,Meryl Streep,Sophie's Choice,True,Yes
3328,1983,1984,ACTRESS,Shirley MacLaine,Terms of Endearment,True,Yes
3454,1984,1985,ACTRESS,Sally Field,Places in the Heart,True,Yes
3708,1986,1987,ACTRESS,Marlee Matlin,Children of a Lesser God,True,Yes
3845,1987,1988,ACTRESS,Cher,Moonstruck,True,Yes
4102,1989,1990,ACTRESS,Jessica Tandy,Driving Miss Daisy,True,Yes
4217,1990,1991,ACTRESS,Kathy Bates,Misery,True,Yes
4468,1992,1993,ACTRESS,Emma Thompson,Howards End,True,Yes
4594,1993,1994,ACTRESS,Holly Hunter,The Piano,True,Yes
4716,1994,1995,ACTRESS,Jessica Lange,Blue Sky,True,Yes
5102,1997,1998,ACTRESS,Helen Hunt,As Good as It Gets,True,Yes
5228,1998,1999,ACTRESS,Gwyneth Paltrow,Shakespeare in Love,True,Yes
5343,1999,2000,ACTRESS,Hilary Swank,Boys Don't Cry,True,Yes
5474,2000,2001,ACTRESS,Julia Roberts,Erin Brockovich,True,Yes
5732,2002,2003,ACTRESS,Nicole Kidman,The Hours,True,Yes
5859,2003,2004,ACTRESS,Charlize Theron,Monster,True,Yes
5984,2004,2005,ACTRESS,Hilary Swank,Million Dollar Baby,True,Yes
6737,2010,2011,ACTRESS,Natalie Portman,Black Swan,True,Yes
7001,2012,2013,ACTRESS,Jennifer Lawrence,Silver Linings Playbook,True,Yes
7117,2013,2014,ACTRESS,Cate Blanchett,Blue Jasmine,True,Yes
7241,2014,2015,ACTRESS,Julianne Moore,Still Alice,True,Yes
7367,2015,2016,ACTRESS,Brie Larson,Room,True,Yes
7504,2016,2017,ACTRESS,Emma Stone,La La Land,True,Yes
7874,2019,2020,ACTRESS,Rene Zellweger,Judy,True,Yes

In [75]:
#We will compare the award ceremony results by category.
#Globes vs Oscars comparison: Actress in a supporting role

#We create a new set.
globesSupportingActressSet = {'Film year Globes': globes['year_film'], 'Award year Globes': globes['year_award'],
                  'Category': globes['category'], 'Name Globes': globes['nominee'], 'Film Globes': globes['film'],
                  'win Globes': globes['win']}
#Based on the newly created set, we create a new dataframe.
globesSupportingActress = pd.DataFrame(globesSupportingActressSet)
#In the new dataframe, we only use the rows, where the category is 'ACTRESS IN A SUPPORTING ROLE'
globesSupportingActress = globesSupportingActress[globesSupportingActress['Category']=="ACTRESS IN A SUPPORTING ROLE"]

#Here we do the same thing with the Oscars results

#We create a new set.
oscarsSupportingActressSet = {'Film year Oscars': oscars['year_film'], 'Award year Oscars': oscars['year_ceremony'],
                  'Category': oscars['category'], 'Name Oscars': oscars['name'], 'Film Oscars': oscars['film'],
                  'win Oscars': oscars['winner']}
#Based on the newly created set, we create a new dataframe.
oscarsSupportingActress = pd.DataFrame(oscarsSupportingActressSet)
#In the new dataframe, we only use the rows, where the category is 'ACTRESS IN A SUPPORTING ROLE'
oscarsSupportingActress = oscarsSupportingActress[oscarsSupportingActress['Category']=="ACTRESS IN A SUPPORTING ROLE"]
#Created copies of the datasets to not mess up any already made work, but now I'm too scared to change anything.
testdf1 = oscarsSupportingActress.copy()
testdf = globesSupportingActress.copy()
#testdf2 is a dataframe in which we merged the dataframe copies we made before
testdf2=testdf.merge(testdf1,left_on="Film year Globes",right_on="Film year Oscars")
#Here we made a new column 'Won both', in which it says 'Yes' if the actor has won both awards for this particular movie, or 'NaN' if she hasn't
testdf.loc[(testdf2['Award year Globes'].values == testdf2['Award year Oscars'].values) & (testdf2['Name Globes'].values == testdf2['Name Oscars'].values) & (testdf2['Film Globes'].values == testdf2['Film Oscars'].values), 'Won both'] = 'Yes'


testdf.loc[testdf['Won both'] == 'Yes']

,Film year Globes,Award year Globes,Category,Name Globes,Film Globes,win Globes,Won both
19,1946,1947,ACTRESS IN A SUPPORTING ROLE,Anne Baxter,The Razor's Edge,True,Yes
27,1947,1948,ACTRESS IN A SUPPORTING ROLE,Celeste Holm,Gentleman's Agreement,True,Yes
90,1950,1951,ACTRESS IN A SUPPORTING ROLE,Josephine Hull,Harvey,True,Yes
724,1961,1962,ACTRESS IN A SUPPORTING ROLE,Rita Moreno,West Side Story,True,Yes
1436,1968,1969,ACTRESS IN A SUPPORTING ROLE,Ruth Gordon,Rosemary's Baby,True,Yes
1537,1969,1970,ACTRESS IN A SUPPORTING ROLE,Goldie Hawn,Cactus Flower,True,Yes
2589,1977,1978,ACTRESS IN A SUPPORTING ROLE,Vanessa Redgrave,Julia,True,Yes
2827,1979,1980,ACTRESS IN A SUPPORTING ROLE,Meryl Streep,Kramer vs. Kramer,True,Yes
2956,1980,1981,ACTRESS IN A SUPPORTING ROLE,Mary Steenburgen,Melvin and Howard,True,Yes
3212,1982,1983,ACTRESS IN A SUPPORTING ROLE,Jessica Lange,Tootsie,True,Yes
3856,1987,1988,ACTRESS IN A SUPPORTING ROLE,Olympia Dukakis,Moonstruck,True,Yes
4237,1990,1991,ACTRESS IN A SUPPORTING ROLE,Whoopi Goldberg,Ghost,True,Yes
4863,1995,1996,ACTRESS IN A SUPPORTING ROLE,Mira Sorvino,Mighty Aphrodite,True,Yes
5112,1997,1998,ACTRESS IN A SUPPORTING ROLE,Kim Basinger,L.A. Confidential,True,Yes
5363,1999,2000,ACTRESS IN A SUPPORTING ROLE,Angelina Jolie,"Girl, Interrupted",True,Yes
5621,2001,2002,ACTRESS IN A SUPPORTING ROLE,Jennifer Connelly,A Beautiful Mind,True,Yes
5880,2003,2004,ACTRESS IN A SUPPORTING ROLE,Rene Zellweger,Cold Mountain,True,Yes
6251,2006,2007,ACTRESS IN A SUPPORTING ROLE,Jennifer Hudson,Dreamgirls,True,Yes
6885,2011,2012,ACTRESS IN A SUPPORTING ROLE,Octavia Spencer,The Help,True,Yes
7011,2012,2013,ACTRESS IN A SUPPORTING ROLE,Anne Hathaway,Les Misrables,True,Yes
7261,2014,2015,ACTRESS IN A SUPPORTING ROLE,Patricia Arquette,Boyhood,True,Yes
7514,2016,2017,ACTRESS IN A SUPPORTING ROLE,Viola Davis,Fences,True,Yes
7641,2017,2018,ACTRESS IN A SUPPORTING ROLE,Allison Janney,"I, Tonya",True,Yes
7767,2018,2019,ACTRESS IN A SUPPORTING ROLE,Regina King,If Beale Street Could Talk,True,Yes
7894,2019,2020,ACTRESS IN A SUPPORTING ROLE,Laura Dern,Marriage Story,True,Yes

In [13]:
#We will compare the award ceremony results by category.
#Globes vs Oscars comparison: Director

#We create a new set.
globesDirectorSet = {'Film year Globes': globes['year_film'], 'Award year Globes': globes['year_award'],
                  'Category': globes['category'], 'Name Globes': globes['nominee'], 'Film Globes': globes['film'],
                  'win Globes': globes['win']}
#Based on the newly created set, we create a new dataframe.
globesDirector = pd.DataFrame(globesDirectorSet)
#In the new dataframe, we only use the rows, where the category is 'DIRECTOR'
globesDirector = globesDirector[globesDirector['Category']=="DIRECTOR"]

#Here we do the same thing with the Oscars results

#We create a new set.
oscarsDirectorSet = {'Film year Oscars': oscars['year_film'], 'Award year Oscars': oscars['year_ceremony'],
                  'Category': oscars['category'], 'Name Oscars': oscars['name'], 'Film Oscars': oscars['film'],
                  'win Oscars': oscars['winner']}
#Based on the newly created set, we create a new dataframe.
oscarsDirector = pd.DataFrame(oscarsDirectorSet)
#In the new dataframe, we only use the rows, where the category is 'DIRECTOR'
oscarsDirector = oscarsDirector[oscarsDirector['Category']=="DIRECTOR"]
#Created copies of the datasets to not mess up any already made work, but now I'm too scared to change anything.
testdf1 = oscarsDirector.copy()
testdf = globesDirector.copy()
#testdf2 is a dataframe in which we merged the dataframe copies we made before
testdf2=testdf.merge(testdf1,left_on="Film year Globes",right_on="Film year Oscars")
#Here we made a new column 'Won both', in which it says 'Yes' if the actor has won both awards for this particular movie, or 'NaN' if (s)he hasn't
testdf.loc[(testdf2['Award year Globes'].values == testdf2['Award year Oscars'].values) & (testdf2['Name Globes'].values == testdf2['Name Oscars'].values) & (testdf2['Film Globes'].values == testdf2['Film Oscars'].values), 'Won both'] = 'Yes'

testdf.loc[testdf['Won both'] == 'Yes']

,Film year Globes,Award year Globes,Category,Name Globes,Film Globes,win Globes,Won both
8,1944,1945,DIRECTOR,Leo McCarey,Going My Way,True,Yes
14,1945,1946,DIRECTOR,Billy Wilder,The Lost Weekend,True,Yes
29,1947,1948,DIRECTOR,Elia Kazan,Gentleman's Agreement,True,Yes
42,1948,1949,DIRECTOR,John Huston,The Treasure of the Sierra Madre,True,Yes
228,1953,1954,DIRECTOR,Fred Zinnemann,From Here to Eternity,True,Yes
257,1954,1955,DIRECTOR,Elia Kazan,On the Waterfront,True,Yes
484,1958,1959,DIRECTOR,Vincente Minnelli,Gigi,True,Yes
565,1959,1960,DIRECTOR,William Wyler,Ben-Hur,True,Yes
1065,1964,1965,DIRECTOR,George Cukor,My Fair Lady,True,Yes
2966,1980,1981,DIRECTOR,Robert Redford,Ordinary People,True,Yes
3091,1981,1982,DIRECTOR,Warren Beatty,Reds,True,Yes
3222,1982,1983,DIRECTOR,Richard Attenborough,Gandhi,True,Yes
3486,1984,1985,DIRECTOR,Milos Forman,Amadeus,True,Yes
3739,1986,1987,DIRECTOR,Oliver Stone,Platoon,True,Yes
4123,1989,1990,DIRECTOR,Oliver Stone,Born on the Fourth of July,True,Yes
4498,1992,1993,DIRECTOR,Clint Eastwood,Unforgiven,True,Yes
4624,1993,1994,DIRECTOR,Steven Spielberg,Schindler's List,True,Yes
4746,1994,1995,DIRECTOR,Robert Zemeckis,Forrest Gump,True,Yes
4873,1995,1996,DIRECTOR,Mel Gibson,Braveheart,True,Yes
5123,1997,1998,DIRECTOR,James Cameron,Titanic,True,Yes
5249,1998,1999,DIRECTOR,Steven Spielberg,Saving Private Ryan,True,Yes
5374,1999,2000,DIRECTOR,Sam Mendes,American Beauty,True,Yes
5891,2003,2004,DIRECTOR,Peter Jackson,The Lord of the Rings: The Return of the King,True,Yes
6014,2004,2005,DIRECTOR,Clint Eastwood,Million Dollar Baby,True,Yes
6137,2005,2006,DIRECTOR,Ang Lee,Brokeback Mountain,True,Yes
6517,2008,2009,DIRECTOR,Danny Boyle,Slumdog Millionaire,True,Yes
7147,2013,2014,DIRECTOR,Alfonso Cuarn,Gravity,True,Yes
7524,2016,2017,DIRECTOR,Damien Chazelle,La La Land,True,Yes
7651,2017,2018,DIRECTOR,Guillermo del Toro,The Shape of Water,True,Yes
7777,2018,2019,DIRECTOR,Alfonso Cuarn,Roma,True,Yes

In [118]:
#We will compare the award ceremony results by category.
#Globes vs Oscars comparison: Picture

#We create a new set.
globesPictureSet = {'Film year Globes': globes['year_film'], 'Award year Globes': globes['year_award'],
                  'Category': globes['category'], 'Film Globes': globes['nominee'],
                  'win Globes': globes['win']}
#Based on the newly created set, we create a new dataframe.
globesPicture = pd.DataFrame(globesPictureSet)
#In the new dataframe, we only use the rows, where the category is 'ACTOR IN A SUPPORTING ROLE'
globesPicture = globesPicture[globesPicture['Category']=="PICTURE"]

#Here we do the same thing with the Oscars results

#We create a new set.
oscarsPictureSet = {'Film year Oscars': oscars['year_film'], 'Award year Oscars': oscars['year_ceremony'],
                  'Category': oscars['category'],  'Film Oscars': oscars['film'],
                  'win Oscars': oscars['winner']}
#Based on the newly created set, we create a new dataframe.
oscarsPicture = pd.DataFrame(oscarsPictureSet)
#In the new dataframe, we only use the rows, where the category is 'ACTOR IN A SUPPORTING ROLE'
oscarsPicture = oscarsPicture[oscarsPicture['Category']=="PICTURE"]
#Created copies of the datasets to not mess up any already made work, but now I'm too scared to change anything.
testdf1 = oscarsPicture.copy()
testdf = globesPicture.copy()
testdf = testdf.drop(testdf.index[0])
#testdf2 is a dataframe in which we merged the dataframe copies we made before
testdf2=pd.merge(testdf,testdf1,left_on="Film year Globes",right_on="Film year Oscars")
#Here we made a new column 'Won both', in which it says 'Yes' if the actor has won both awards for this particular movie, or 'NaN' if he hasn't
testdf.loc[(testdf2['Award year Globes'].values == testdf2['Award year Oscars'].values)  & (testdf2['Film Globes'].values == testdf2['Film Oscars'].values), 'Won both'] = 'Yes'

testdf.loc[testdf['Won both'] == 'Yes']

,Film year Globes,Award year Globes,Category,Film Globes,win Globes,Won both
9,1944,1945,PICTURE,Going My Way,True,Yes
16,1945,1946,PICTURE,The Lost Weekend,True,Yes
35,1947,1948,PICTURE,Gentleman's Agreement,True,Yes
250,1954,1955,PICTURE,On the Waterfront,True,Yes
308,1956,1957,PICTURE,Around the World in 80 Days,True,Yes
490,1958,1959,PICTURE,Gigi,True,Yes
535,1959,1960,PICTURE,Ben-Hur,True,Yes
746,1961,1962,PICTURE,West Side Story,True,Yes
911,1963,1964,PICTURE,Tom Jones,True,Yes
1035,1964,1965,PICTURE,My Fair Lady,True,Yes
1308,1967,1968,PICTURE,In the Heat of the Night,True,Yes
1416,1968,1969,PICTURE,Oliver!,True,Yes
2418,1976,1977,PICTURE,Rocky,True,Yes
2797,1979,1980,PICTURE,Kramer vs. Kramer,True,Yes
2926,1980,1981,PICTURE,Ordinary People,True,Yes
3318,1983,1984,PICTURE,Terms of Endearment,True,Yes
3444,1984,1985,PICTURE,Amadeus,True,Yes
3571,1985,1986,PICTURE,Out of Africa,True,Yes
3696,1986,1987,PICTURE,Platoon,True,Yes
3953,1988,1989,PICTURE,Rain Man,True,Yes
4087,1989,1990,PICTURE,Driving Miss Daisy,True,Yes
4584,1993,1994,PICTURE,Schindler's List,True,Yes
4706,1994,1995,PICTURE,Forrest Gump,True,Yes
4957,1996,1997,PICTURE,The English Patient,True,Yes
5082,1997,1998,PICTURE,Titanic,True,Yes
5212,1998,1999,PICTURE,Shakespeare in Love,True,Yes
5333,1999,2000,PICTURE,American Beauty,True,Yes
5463,2000,2001,PICTURE,Gladiator,True,Yes
5591,2001,2002,PICTURE,A Beautiful Mind,True,Yes
5727,2002,2003,PICTURE,Chicago,True,Yes
5849,2003,2004,PICTURE,The Lord of the Rings: The Return of the King,True,Yes
6477,2008,2009,PICTURE,Slumdog Millionaire,True,Yes
6860,2011,2012,PICTURE,The Artist,True,Yes
6981,2012,2013,PICTURE,Argo,True,Yes
7107,2013,2014,PICTURE,12 Years a Slave,True,Yes
7484,2016,2017,PICTURE,Moonlight,True,Yes
7742,2018,2019,PICTURE,Green Book,True,Yes